body {
                background-image: url(ocean-quotes-index-1624414741.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                font-family: 'Roboto', sans-serif;
}